body{
  font-family: sans-serif;
  font-size: 15px;
  padding: 67px;
  font-weight: 300;
  letter-spacing: 1px;
  box-sizing: border-box;
  word-spacing: 3px;
  background: #ffda6b;
}


.dropdown {
  width: auto;
  height: auto;
  position: absolute;
  opacity: 1;
  transition: 0.1s;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 4px;
  z-index:1000
}
.dropdown-hidden {
  opacity: 0;
  visibility: hidden;
}