/* add css module styles here (optional) */

.dropdown {
  width: auto;
  height: auto;
  position: absolute;
  opacity: 1;
  transition: 0.1s;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 4px;
  z-index:1000
}
.dropdown-hidden {
  opacity: 0;
  visibility: hidden;
}